<div class="nav">
  <a href="{{site.baseurl}}/" class="nav__logo">
    Alora Yurts
  </a>
  <div id="menuicon" class="nav__menuitem">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="nav__items">
    <a href="{{site.baseurl}}/">Home</a>
    <a href="{{site.baseurl}}/about">About</a>
    <a href="{{site.baseurl}}/food">Food</a>
    <a href="{{site.baseurl}}/rates">Rates</a>
    <a href="{{site.baseurl}}/gallery">Gallery</a>
    <a href="{{site.baseurl}}/where">Where</a>
    <a href="mailto:sara@alorayurts.com">sara@alorayurts.com</a>
  </div>
</div>