---
---

body {
  font-family: Josefin Slab, Helvetica, Arial, sans-serif;
  background: #ffeeec;
  font-size: 20px;
}

h1,h2,h3 {
  border-bottom:2px dotted #f26161;
}

.nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  z-index: 100000;
  background: #ffeeec;
  border-bottom:1px dotted rgba(0,0,0,.2);
  align-items: center;
  display: flex;

  @media (min-width: 1000px) {
    height: 100px;
  }

  &__logo {
    padding: 0 20px;
    font-size: 1.6em;
    font-weight: 700;
    display: block;
    font-family: 'Marck Script', cursive;
    text-decoration: none;
    text-shadow: 4px 4px 0 rgba(242,97,97,.1);
    color: #222;
    flex-grow: 1;
    @media (min-width: 1000px) {
      padding: 0 40px;
      font-size: 2em;
    }
  }

  &__menuitem {
    position: relative;
    margin: 0 20px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: #222;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    @media (min-width:1000px) {
      display:none;
    }

    span {
      margin: 3px 0;
      width: 60%;
      height: 2px;
      background: #fff;
      display: block;
    }
  }

  &__items {
    padding:0 20px;
    display: none;
    @media (min-width:1000px) {
      padding-right: 30px;
      align-items: center;
      display:flex;
    }

    a {
      flex: 1;
      padding: 12px 10px 10px;
      text-decoration: none;
      border-radius:3px;
      color:#111;
      display: block;

      @media (min-width:1000px) {
        margin-left:10px;
        
        &:last-child {
          padding: 12px 20px 10px;
          box-shadow: 10px 10px 0 rgba(242,97,97,.2);
        }
        &:last-child,
        &:hover {
          background:#111;
          color:#fff;
        }
      }
      @media (min-width:1200px) {
        margin-left:20px;
      }
    }
  }

  .nav__menuitem.show-dropdown {
    span {
      position: absolute;
      margin:0;
      transform:rotate(45deg);
      &:last-child {
        transform:rotate(-45deg);
      }
    }
    & + .nav__items {
      position: fixed;
      top: 60px;
      right: 20px;
      padding:5px 0;
      background: #fff;
      border-radius: 4px;
      box-shadow: 0 3px 10px rgba(0,0,0,0.05);
      display: block;
      a {
        padding:8px 15px;
      }
    }
  }
}

.cta {
  margin:10px 0 0;
  padding:15px 20px;
  border-radius:6px;
  font-size:1.1em;
  background:#222;
  text-decoration: none;
  display: inline-block;
  box-shadow: 10px 10px 0 rgba(242,97,97,.2);
  color:#fff;
}

.home {
  margin:auto;
  padding: 20px;
  @media (min-width: 1000px) {
    padding: 20px 40px 50px;
    min-height:calc(100vh - 170px);
    display:flex;
  }
  &__intro {
    @media (min-width: 1000px) {
      flex:0 0 380px;
      margin-right:50px;
    }
    @media (min-width: 1000px) {
      .block {
        position: sticky;
        top:150px;
      }
      h1 {
        font-size:2.1em;
      }
      p {
        font-size:1.1em;
        line-height:1.4;
      }
    }
  }
  .images {
    margin-top:30px;
    &__image {
      background:rgba(0,0,0,0.1) url() 50% 50% / cover no-repeat;
      height:0;
      padding-bottom:60%;
      display:none;
      &:first-child {
        display:block;
      }
    }
    @media (min-width: 769px) {   
      grid-template-columns: repeat(2, 1fr);
      display: grid;
      grid-gap: 20px;
      grid: 20px;

      &__image {
        height:200px;
        padding-bottom:0;
        display: block;
      }
    }
    @media (min-width: 1000px) {
      flex-grow: 1;
      grid-gap: 50px;
      grid: 50px;
      &__image {
        height:auto;
      }
    }
  }
}

.page {
  margin: 70px auto 100px;
  max-width: 800px;
  padding: 0 20px;
  font-size:1.2em;
  line-height: 1.4;

  img {
    width:100%;
  }

  h1 {
    padding: 0 0 15px;
  }
  h2 {
    margin-bottom:0;
  }
}

.map {
  position: relative;
  place-items: center;
  background: #222;
  display: grid;
  &:before {
    position: absolute;
    width:40px;
    height:40px;
    border:4px solid #fff;
    border-radius: 100%;
    border-right-color: transparent;
    content:'';
    animation: spin 650ms linear infinite;
    @keyframes spin {
      100%{transform: rotate(360deg);}
    }
  }
  iframe {
    position: relative;
    width: 100%;
    height: calc(100vh - 100px);
  }
}

.banner {
  padding: 50px;
  background: #fff;
  display: flex;

  &__block {
    flex:1;
    padding: 0 15px;
    text-align: center;

    i.fas {
      font-size: 3.2em;
      color:#f26161;
    }
  }
}

.photo-text-blocks {
  font-size:1.3em;
  line-height: 1.4;
  &__block {
    margin:150px auto;
    max-width:1200px;
    align-items: center;
    display:flex;
    &:nth-child(odd) {
      flex-direction: row-reverse;
      .content {
        margin-left:0;
        margin-right:80px;
      }
    }
    .content {
      width:360px;
      margin-left:80px;
    }
    .image {
      height:500px;
      background:url() 50% 50% / cover no-repeat;
      box-shadow: 10px 10px 0 rgba(242,97,97,.2);
      flex-grow:1;
    }
  }
}

.gallery {
  display: flex;
  &__column {
    margin: 40px 40px 0;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    flex:1;
    &:last-child {
      margin-left: 0;
    }
    img {
      margin-bottom: 40px;
      width: 100%;
      display: block;
    }
  }
}

footer {
  padding:30px 30px;
  background: #fff5f4;
  border-top:1px dotted rgba(0,0,0,.2);
  justify-content: center;
  align-items: center;
  display: flex;

  .spacer {
    flex-grow: 1;
  }
  
  a {
    padding:20px;
    text-decoration: none;
    color: #55241f;

    &:hover {
      text-decoration: underline;
    }
  }
}