<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/normalize.css">
  {% assign cacheBust = site.time | date:'?v=%s' %}
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/styles.css{{cacheBust}}">
  {% for filename in page.styles %}
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{filename}}.css{{cacheBust}}">
  {% endfor %}
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;700&&family=Marck+Script&display=swap" rel="stylesheet">

  <meta name="theme-color" content="#fafafa">

  <script defer src="https://kit.fontawesome.com/c5650f15b4.js" crossorigin="anonymous"></script>
</head>

<body>
  {% include nav.html %}
  <!-- Add your site or application content here -->
  {{ content }}

  <footer>
    <a href="tel:sara@alorayurts.com">sara@alorayurts.com</a> 
    <a href="tel:003 4684 056 987">003 4684 056 987</a> 
    <a href="https://www.facebook.com/alorayurts">Follow us on Facebook</a>
    <span class="spacer"></span>
    <a href="/">Alora Yurts {{ site.time | date:'%Y' }}</a>
  </footer>

  <script>
    const menuicon = document.querySelector('#menuicon');
    menuicon.addEventListener('click', function(e) {
      menuicon.classList.toggle('show-dropdown');
    });
  </script>
  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>